$main-color:#4dd6b6;

.main-login{
min-height: 100vh;
min-width: 100vw;
overflow-x: hidden;
background: linear-gradient(to right,  rgb(223, 221, 221) 50%, $main-color 50%);
.login-contain{

        height: 75vh;
        width: 70%;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7),rgba(236,236,236,0.4));
        border-radius: 1rem;
        margin: 5rem auto;
        box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
        display: flex;
        justify-content: center;
        align-items: center;
        .link{text-decoration: none;
                color:$main-color;
                transition: all 0.3s ease;
                &:hover{
                    transform: translateY(-5px);
                    color:gray;
                }
               
        }
        .left-side,.right-side{
            margin: 2rem 2rem;
            box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
            height: 90%;
            width:100%;
        }
        .left-side{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .img-class{
                height: 4.5rem;
                #img-id{
                    height: 100%;
                    object-fit: cover;
                }
            }
            input{
                    display: block;
                    border: none;
                    height: 2rem;
                    width: 70%;
                    margin: auto;
                    margin-bottom: 1.5rem;
                    padding: 0.2rem 1rem;
                    font-size: small;
                    color:gray;
                    transition: all 0.1s ease-in-out;
                    &:focus{
                        outline: none;
                        border: none;  
                    }
                    &:hover{
                        outline: 0.5px solid $main-color;
                        box-shadow: 2px 2px 9px -2px $main-color;
                    }
            }

            label{
                display: block;
                text-align: left;
                width:78%;    
                margin: auto;
                font-size: small;
                color:gray;
                margin-bottom: 0.5rem;

            }
            #sub_butt{
                width: 80%;
                background: $main-color;
                color:white;
                border:none;
                cursor: pointer;
                padding:0.5rem 1rem;
                transition: all 0.2s ease;
                &:hover{
                    box-shadow: 4px 3px 9px -1px gray;
                    transform: translateY(-5px);
                }

            }
           
        }
        .right-side{
            .welcomeNote{
                h3{
                    margin-left:1rem;
                    color:black;
                    float: left;
                    margin-bottom: 2.5rem;
               }
            }
            .welcomeImg{
                height: 100%;
                width: 70%;
                margin: 0rem auto;
                #wel-img-id{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}